
Screen {
    align: center middle;
}

#sidebar {
    dock: left;
    width: 1fr;
    max-width: 40;
    margin: 1;
}

#sidebar ListItem {
    margin-bottom: 1;
    height: 2;
}

#sidebar #entry_date {
    background: $accent;
}

#sidebar #entry_title {
    padding-left: 2;
}

#main-pane {
    width: 3fr;
    align: center middle;
}

#entry-contents {
    max-width: 88;
    width: 100%;
    box-sizing: content-box;
}

#entry-tag-list {
    dock: top;
    max-width: 88;
    padding: 1;
}
