<!DOCTYPE html>
<html lang="{{ DEFAUL_LANG }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <!-- Bootstrap Core CSS, Code Highlighting -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/pygments.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/theme.css" rel="stylesheet">
</head>

<body>
    <!-- Page Content -->
    <div class="container clearfix">

        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8 col-lg-offset-2">
            {% block content %}
            {% endblock %}
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</body>

</html>
