{% extends "base.html" %}

{% block content %}

{% if entries %}
    {% for entry in entries %}

    <article class="post clearfix">
        <div class="post-header">
            <h2>
                <a href="#">{{ entry.title }}</a>
            </h2>

            <div class="row post-info   ">
                <div class="col-xs-12">
                    Published <time class="post-pubdate" datetime="{{ entry.date.isoformat() }}" itemprop="datePublished">
                        {{ entry.date | humanize }}
                    </time>
                </div>
            </div>
        </div>

        <div class="post-content">
        {{ entry.body | markdown }}
        </div>
    </article>

    {% endfor %}
{% else %}
	<h3>No articles found!</h3>
{% endif %}

{% endblock %}
